<!DOCTYPE html>
<html lang="en">
    <head>
        <title>NanoWatchrs Status</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="NanoWatchrs">
        <meta name="description" content="NanoWatchrs Status Page">
        <meta property="og:title" content="NanoWatchrs Status Page">
        <meta property="og:description" content="NanoWatchrs Status Page">
        <meta property="og:image" content="/logo.svg">
        <meta property="og:url" content="status.nanowatchrs.com">
        <meta property="og:site_name" content="NanoWatchrs">
        <meta name="twitter:card" content="/logo.svg">
        <meta name="twitter:image:alt" content="NanoWatchrs Logo">
        <link href="style.css" rel="stylesheet">
        <link rel="icon" type="image/svg+xml" href="/favicon.ico">
    </head>
    <body>
        <table class="header">
          <tr>
            <td colspan="2" rowspan="2" class="width-auto">
              <h1 class="title">NanoWatchrs Status</h1>
              <span class="subtitle"></span>
            </td>
            <th>Status</th>
            <td class="width-min">
                <span class="status-marker bg-sucess"></span>
            </td>
          </tr>
          <tr>
            <th>Updated</th>
            <td class="width-min"><time style="white-space: pre;">2024-08-26</time></td>
          </tr>
          <tr>
            <th class="width-min">Author</th>
            <td class="width-auto"><a href="https://wickstrom.tech"><cite>Oskar
        Wickström</cite></a></td>
            <th class="width-min">License</th>
            <td>MIT</td>
          </tr>
        </table>
    </body>
</html>
