{% extends "base.html.jinja" %}

{% block title %}
    <title>{{ page.title }}</title>
    <meta property="og:title" content="{{ page.title }}">
{% endblock %}

{% block body %}

<button class="theme-toggle" aria-label="Toggle theme">
  <span class="theme-toggle-text">DARK</span>
</button>

{% if page.header_link %}
    <a href="{{ page.header_link }}">
        <h1>{{ page.header }}</h1>
    </a>
{% else %}
    <h1>{{ page.header }}</h1>
{% endif %}

{% if page.subheader %}
    <h3 class="disabled">{{ page.subheader }}</h3>
{% endif %}

{{rendered_blocks}}

<div class="separator" style="margin-top: calc(var(--line-height) * 4);">Incidents</div>

{{ incidents }}

{% endblock %}
