{% extends "base.html.jinja" %}

{% block title %}
    <title>{{ page.title }}</title>
    <meta property="og:title" content="{{ page.title }}">
{% endblock %}

{% block body %}

<h1>{{ page.header }}</h1>

{{rendered_blocks}}

<hr />
Incident History

<pre>
╔═════History══════╗
║                  ║░
║                  ║░
║                  ║░
╚══════════════════╝░
 ░░░░░░░░░░░░░░░░░░░░
</pre>

{{ incidents }}

{% endblock %}
