{% extends "base.html.jinja" %}

{% block title %}
    <title>{{ page.title }}</title>
    <meta property="og:title" content="{{ page.title }}">
{% endblock %}

{% block body %}

<label class="debug-toggle-label"><input type="checkbox" class="mode-toggle" /> Toggle Mode</label>

<h1>{{ page.header }}</h1>

{% for blk in status_blocks %}
    {% include 'partials/status.html.jinja' %}
{% endfor %}

<hr />

<pre>
╔═════History══════╗
║                  ║░
║                  ║░
║                  ║░
╚══════════════════╝░
 ░░░░░░░░░░░░░░░░░░░░
</pre>

{% endblock %}
