<div class="popup-container">
                    <div class="popup-target history-marker bg-{{e.state}}">&nbsp;</div>
                    <div class="popup-content">
                        <span class="entry-date">{{e.date}}</span>
                        <div class="entry-content">
                            <span class="status-marker bg-{{ e.state }}"></span>
                            <small class="entry-notes">{{e.notes}}</small>
                        </div>
                    </div>
                </div>
